service: lolalingo
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: ca-central-1
  stage: ${opt:stage, 'dev'}
  memorySize: 256
  architecture: arm64
  environment:
    DDB_TABLE: lola_app
    ENV_ALIAS: ${sls:stage}

package:
  individually: false
  patterns:
    - "!**/*"
    - "dist/**"

functions:
  api:
    name: lola-${sls:stage}
    handler: dist/handler.http
    url: true


